modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 8080

[agent]
integrations = ["javascript_database:1.0.0"]

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[userenv]

[userenv.shared]
VITE_SUPABASE_PROJECT_ID = "sxuffcmantqbfhcxvwij"
VITE_SUPABASE_URL = "https://sxuffcmantqbfhcxvwij.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY = "sb_publishable_7O7XNlp6jGxFdmWjVa2iOA_hLcgH_uP"
